<%= form_with(model: @document, local: true) do |form| %>
  <div>
    <%= form.label :expiration_date %>
    <%= form.date_field :expiration_date %>
  </div>
  <div>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>
  <div>
    <%= form.submit submit_button_label %>
  </div>
<% end %>
