<p>名前： <%= @employee.name %></p>
<p>社員番号： <%= @employee.employee_number %></p>
<p>所属部署：<%= @employee.department.name %></p>
<p>メールアドレス: <%= @employee.email %></p>
<p>ロール： <%= @employee.roles.map(&:name) %></p>
<%= link_to 'Destroy', super_admin_employee_path(@employee) ,method: :delete, data: { confirm: 'Are you sure?' } %>
<table class="table">
  <thead>
    <tr>
      <th>Driver License Expiration</th>
      <th>Vehicle Inspection Expiration</th>
      <th>Compulsory Insurance Expiration</th>
      <th>Optional Insurance Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @employee.driver_license&.expiration_date %></td>
      <td><%= @employee.vehicle_inspection&.expiration_date %></td>
      <td><%= @employee.compulsory_insurance&.expiration_date %></td>
      <td><%= @employee.optional_insurance&.expiration_date %></td>
    </tr>
  </tbody>
