<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>MyCarDocumentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-custom-blue">
        <% if employee_signed_in? %>
          <% if current_employee.has_role?(:super_admin)  %>
            <%= link_to 'MyCarDocumentApp!!', root_path, class: 'navbar-brand' %>
          <% elsif current_employee.has_role?(:admin) %>
            <%= link_to 'MyCarDocumentApp!', root_path, class: 'navbar-brand' %>
          <% else %>
            <%= link_to 'MyCarDocumentApp', root_path, class: 'navbar-brand' %>
          <% end %>
        <% else %>
          <%= link_to 'MyCarDocumentApp', new_employee_session_path, class: 'navbar-brand' %>
        <% end %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to help_path, class: 'nav-link help-icon' do %>
              <span>
                ?
              </span>
            <% end %>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <% if employee_signed_in? %>
              <% if current_employee.has_role?(:super_admin) %>
                <li class="nav-item"><%= link_to '社員一覧', super_admin_employees_path, class: "nav-link btn btn-primary", id: 'SAdmin-EmpList'  %></li>
                <li class="nav-item"><%= link_to '部署一覧', departments_path, class: "nav-link btn btn btn-primary", id: 'SAdmin-DeptList'  %></li>
                <li class="nav-item"><%= link_to '新しい社員', new_super_admin_employee_path, class: "nav-link btn  btn-primary", id: 'SAdmin-NewEmp'  %></li>
              <% elsif current_employee.has_role?(:admin) %>
                <li class="nav-item"><%= link_to '社員一覧', admin_employees_path, class: "nav-link btn btn btn-primary", id: 'Admin-EmpList' %></li>
                <li class="nav-item"><%= link_to '部署一覧', departments_path, class: "nav-link btn btn-primary", id: 'Admin-DeptList' %></li>
                <li class="nav-item"><%= link_to '新しい社員', new_admin_employee_path, class: "nav-link btn btn-primary", id: 'Admin-NewEmp' %></li>
              <% elsif current_employee.has_role?(:department_admin) %>
                <li class="nav-item"><%= link_to '社員一覧', department_admin_employees_path, class: "nav-link btn btn-primary", id: 'DeptAdmin-EmpList' %></li>
              <% else %>
                <li class="nav-item"><%= link_to '書類', uploads_documents_path, class: "nav-link btn btn-primary", id: 'my-document' %></li>
                <li class="nav-item"><%= link_to 'マイアカウント', employee_path(current_employee), class: "nav-link btn btn-primary" ,id: 'my-account'%></li>
              <% end %>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_employee_session_path, method: :delete, class: "nav-link btn btn-primary" ,id: 'sign-out'%></li>
            <% else %>
              <li class="nav-item"><%= link_to 'ログイン', new_employee_session_path, class: "nav-link btn btn-primary", id: 'sign-in' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container mt-4">
      <p class="notice alert alert-info <%= notice.blank? ? 'd-none' : '' %>"><%= notice %></p>
      <p class="alert alert-danger <%= alert.blank? ? 'd-none' : '' %>"><%= alert %></p>
      <%= yield %>
    </div>
    <footer class="footer bg-light py-3 mt-5 mb-auto">
      <div class="container">
        <div class="text-right">
          <p class="text-muted">Place sticky footer content here.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
