<!DOCTYPE html>
<html>
  <head>
    <title>MyCarDocumentApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <% if employee_signed_in? %>
            <% if current_employee.has_role?(:super_admin) || current_employee.has_role?(:admin) %>
              <li><%= link_to 'Employee List', super_admin_employees_path %></li>
              <li><%= link_to 'Department List', departments_path %></li>
              <li><%= link_to 'New Employee', new_super_admin_employee_path %></li>
            <% else %>
              <li><%= link_to 'Documents', uploads_documents_path %></li>
              <li><%= link_to 'My Account', employee_path(current_employee) %></li>
            <% end %>
            <li><%= link_to 'Logout', destroy_employee_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_employee_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
